* {
    box-sizing: content-box;
}

body {
    margin: 0;
    width: 1020px;
    height: auto;
    font-size: 10px;
}

.header {
    position: relative;
    align-items: center;
    margin: auto;
    height: 89px;
    background-color: #2d303a;
    color: #ffffff;
    font-family: Lato, Verdana, sans-serif;
    text-transform: uppercase;
}

.container {
    height: inherit;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.navigation {
    display: grid;
    grid-template-columns: 50px 85px 95px 75px 85px;
    padding-left: 0;
    margin-top: 25px;
    margin-right: 30px;
}

#home {
    padding-left: 9px;
}

#services {
    padding-left: 9px;
}

#portfolio {
    padding-left: 7px;
}

#about {
    padding-left: 8px;
}

#contact {
    padding-left: 4px;
}

.navigation li {
    list-style-type: none;
}

.navigation li:not(.home):before {
    content: '\2027';
    color: #767e9e;
    padding-right: 14px;
}

.navigation-menu {
    height: 20px;
    width: auto;
    font-size: 1.2em;
    font-weight: 700;
    letter-spacing: -0.03em;
}

.navigation-menu:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.navigation-menu:active {
    color: #f06c64;
}

.logo {
    position: relative;
    margin-left: 40px;
    font-weight: 700;
    font-size: 2.6em;
    letter-spacing: -0.045em;
}

.red {
    color: #f06c64;
}

.line-bottom {
    margin: 0 auto 0 auto;
    height: 6px;
    border: none;
}

.header-bottom {
    background-color: #323746;
}

.main-bottom {
    background-color: #ea676b;
}

.slider {
    display: grid;
    grid-template-columns: 1fr 3fr 6fr 1fr;
    align-items: center;
    position: relative;
    height: 594px;
    background-color: #ef6c64;
}

.arrow {
    width: 30px;
    height: 50px;
    margin-top: 19px;
    text-align: center;
}

.arrow-left {
    margin-left: 35px;
}

.arrow-right {
    margin-left: 30px;
}

.arrow img:hover {
    cursor: pointer;
    transform: scale(1.4);
}

.phone {
    width: 240px;
    height: 483px;
}

.phone-vertical {
    margin-left: 19px;
    margin-top: -4px;
}

.phone-horizontal {
    margin-left: 175px;
    margin-top: -6px;
}

.shadow {
    position: absolute;
    z-index: 5;
}

.base {
    position: absolute;
    z-index: 10;
}

.screen {
    position: absolute;
    z-index: 20;
    width: 188px;
    height: 333px;
    overflow: hidden;
}

.screen-vertical {
    margin-top: 65px;
    margin-left: 14px;
}

.screen-vertical img {
    position: absolute;
    left: -14px;
    bottom: -112px;
}

.screen-horizontal {
    top: 0;
    margin-top: 90px;
    margin-left: 14px;
}

.screen-horizontal img {
    position: absolute;
    left: -119px;
    bottom: -125px;
    transform: rotate(-90deg);
}

.horizontal {
    position: relative;
    top: 25px;
}

.rotate-90-degree {
    transform: rotate(90deg);
}

.rotateY-180-degree {
    transform: rotateY(180deg);
}

.services {
    position: relative;
    margin-top: 0;
    height: 494px;
    background-color: #f2f2f2;
    font-family: Lato, Verdana, sans-serif;
}

.service-information {
    height: 150px;
    padding: 34px 40px 0 40px;
}

.gray {
    color: #666d89;
}

.light-gray {
    color: #767e9e;
}

#service-header {
    margin: 0;
    padding-top: 25px;
    text-transform: capitalize;
    font-size: 1.9rem;
    font-weight: 900;
    letter-spacing: -0.02rem;
}

#service-content {
    margin: 0;
    padding-top: 18px;
    height: 55px;
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0.02rem;
    text-align: justify;
    overflow: hidden;
}

.layout-3-column {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin: 15px 40px auto 40px;
}

.service-menu {
    display: grid;
    grid-template: 1fr 3fr / 1fr 4fr;
    grid-template-areas: "icon header" "icon text";
    height: 124px;
    width: 320px;
}

.service-menu h4 {
    height: 30px;
    grid-area: header;
    margin: 0;
    padding-top: 16px;
    padding-left: 16px;
    text-transform: capitalize;
    font-size: 1.9em;
    font-weight: 900;
    text-align: left;
    letter-spacing: -0.035em;
}

.service-menu p {
    margin: 1px 15px 15px 16px;
    grid-area: text;
    font-size: 1.2em;
    line-height: 1.8em;
    letter-spacing: 0.01em;
    text-align: justify;
    overflow: hidden;
}

.service__icon {
    grid-area: icon;
    height: 55px;
    width: 55px;
    margin-top: 20px;
    border: 2px solid;
    border-radius: 100%;
    text-align: center;
    color: #666d89;
}

.service__icon img {
    padding-top: 11px;
}

.service-bottom {
    color: #ffffff;
}