* {
    /* margin: 0;
    padding: 0; */
    box-sizing: content-box;
    /* text-decoration: none; */
    /* border: 1px solid #414283; */
}

body {
    max-width: 1020px;
    height: auto;
    font-size: 10px;
}

.header {
    position: relative;
    align-items: center;
    margin: auto;
    height: 89px;
    background-color: #2d303a;
    color: #ffffff;
    font-family: Lato, Verdana, sans-serif;
    text-transform: uppercase;
}

.container {
    height: inherit;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.navigation {
    display: flex;
    padding-left: 0;
    margin-top: 20px;
    margin-right: 40px;
}

.navigation-menu {
    display: inline-block;
    padding-left: 24px;
    font-size: 0.8rem;
    font-weight: 700;
    line-height: 6px;
    letter-spacing: 0rem;
}

.logo {
    position: relative;
    margin-left: 40px;
    line-height: 6px;
    font-weight: 700;
    font-size: 1.5rem;
}

.asterisk {
    color: #f06c64;
}

.slider {
    height: 594px;
    background-color: #ef6c64;
}

.line-bottom {
    margin: 0 auto 0 auto;
    height: 6px;
    border: none;
}

.header-bottom {
    background-color: #323746;
}

.main-bottom {
    background-color: #ea676b;
}

.layout-3-column {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.services {
    position: relative;
    margin-top: 0;
    height: 494px;
    background-color: #f2f2f2;
}