* {
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 1020px;
  height: auto;
  margin: 0 auto;
  font-family: Lato, Verdana, sans-serif;
  font-size: 10px;
}

.header, .main {
  width: inherit;
  background-color: #f06c64;
}

.header {
  height: 209px;
}

.header-container {
  position: relative;
  padding: 59px 40px 20px 40px;
}

.header-name {
  height: 36px;
  font-size: 3em;
  font-weight: 900;
  letter-spacing: -0.005em;
  overflow: hidden;
}

.header-text {
  height: 78px;
  padding-top: 18px;
  font-size: 1.8em;
  font-weight: 300;
  line-height: 30px;
  text-align: justify;
  overflow: hidden;
}

.main {
  height: 445px;
  border-bottom: 6px solid #ea676b;
}

.main-container {
  display: grid;
  grid-template-columns: 667px 328px;
}

.form {
  padding: 0 0 0 32px;
}

.input-form {
  width: 619px;
  height: 38px;
  margin: 8px;
  padding-left: 14px;
  font-size: 1.2em;
  line-height: 22px;
  color: #f48c8f;
  background-color: #d6564f;
  border: none;
  border-radius: 5px;
  overflow: hidden;
}

::placeholder {
  font-family: Lato, Verdana, sans-serif;
  color: #f48c8f;
}

#submit-button {
  width: 80px;
  height: 38px;
  margin: 8px;
  color: #f48c8f;
  background-color: #d6564f;
  border: none;
  border-radius: 5px;
}

#submit-button:hover {
  cursor: pointer;
  background-color: #aa4742;
}

#describe {
  height: 202px;
  padding-top: 7px;
  resize: none;
}

.contact-info {
  padding: 6px 13px 0 13px;
}

.contact-info-head {
  height: 22px;
  font-size: 1.8em;
  font-weight: 900;
  letter-spacing: -0.007em;
  text-transform: capitalize;
  overflow: hidden;
}

.contact-info-text {
  height: 94px;
  padding-top: 8px;
  font-size: 1.2em;
  font-weight: 400;
  line-height: 22px;
  text-align: justify;
  overflow: hidden;
}

.contact {
  padding-top: 22px;
}

.contact-data {
  display: flex;
  height: 21px;
}

.contact-img {
  width: auto;
  height: auto;
}

.contact-text {
  width: auto;
  height: auto;
  font-size: 1.2em;
  font-weight: 400;
  line-height: 22px;
  overflow: hidden;
}

#location {
  margin: 5px 13px 0 3px;
}

#phone {
  margin: 5px 11px 0 1px;
}

#mail {
  margin: 9px 10px 0 0;
}

.footer {
  display: flex;
  width: inherit;
  height: 76px;
  background-color: #2d303a;
}

.copyright {
  align-self: center;
  width: auto;
  height: auto;
  margin-left: 40px;
  font-size: 1.2em;
}

.footer-icons {
  display: flex;
  justify-content: space-between;
  align-self: center;
  width: 152px;
  height: 32px;
  margin-left: auto;
  margin-right: 40px;
}

.footer-icon {
  text-align: center;
  width: 32px;
  height: 32px;
  border: 1px solid #666d89;
  border-radius: 50%;
}

.footer-icon img {
  width: 14px;
  height: 14px;
  margin-top: 8px;
}

.color-white {
  color: #f0d8d9;
}

.color-blue {
  color: #666d89;
}

.footer-icon:hover {
  border: 2px solid #666d89;
}
